<app-sidebar></app-sidebar>

<div class="form-outline">
    <input type="search" id="form1" class="form-control search" placeholder="Search for books, authors or members"
        aria-label="Search" />
</div>

<!-- <div class=".container">
<p class="boosk-title">Starry Messenger</p>
<p class="boosk-author">by Neil deGrasse Tyson</p>
</div> -->

<div class="container">
    <p class="book-title">Starry Messenger</p>
    <p class="book-author">by Neil deGrasse Tyson</p>
</div>

<div class="star">
    <span>
        <img src="../../assets/imgs/star.svg" class="stasr">
        <img src="../../assets/imgs/star.svg" class="stasr">
        <img src="../../assets/imgs/star.svg" class="stasr">
        <img src="../../assets/imgs/star.svg" class="stasr">
    </span>
</div>

<p class="rating">4.71</p>

<img src="../../assets/imgs/sm.jpg" class="book-cover">

<div class="container read-btns">
    <div class="ratingbtns">
        <button type="button" class="btn btn-outline-secondary"><mat-icon
                class="search-icon">bookmark_border</mat-icon></button>
        <p class="icon-text">Reading</p>
    </div>
    <div class="ratingbtns">
        <button type="button" class="btn btn-outline-secondary"><mat-icon>visibility</mat-icon></button>
        <p class="icon-text">To Read</p>
    </div>
    <div class="ratingbtns">
        <button type="button" class="btn btn-outline-secondary"><mat-icon>done</mat-icon></button>
        <p class="icon-text">Read</p>
    </div>
</div>

<div>
    <h2>Book info</h2>
    <div class="tab-line"></div>
</div>

<p class="desc">Description</p>
<p class="desctext">DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription
    DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription
</p>

<p class="details">Details</p>

<table class="table table-borderless">
    <tbody>
        <tr>
            <td scope="col">Pages</td>
            <td class="detail">224</td>
        </tr>
        <tr>
            <td scope="row">Released</td>
            <td class="detail">September-2022</td>
        </tr>
        <tr>
            <td scope="row">Language</td>
            <td class="detail">English</td>
        </tr>
    </tbody>
</table>