<div class="container">
<div class="box">
<h4 class="my-5">Join Our Book Community !</h4>
  <form class="mt-5" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" [name]="f_name" [ngModelOptions]="{standalone: true}" id="form3Example1" [(ngModel)]="f_name" class="form-control" />
          <label class="form-label" for="form3Example1">First name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" [name]="l_name" [ngModelOptions]="{standalone: true}" id="form3Example2" [(ngModel)]="l_name" class="form-control" />
          <label class="form-label" for="form3Example2">Last name</label>
        </div>
      </div>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" [name]="email" [ngModelOptions]="{standalone: true}" id="form3Example3" [(ngModel)]="email" class="form-control" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" [name]="password" [ngModelOptions]="{standalone: true}" id="form3Example4" [(ngModel)]="password" class="form-control" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>

    <!-- upload image input -->
    <div class="form-outline mb-4">
      <input type="file" name="image" id="form9Example4" (change)="onFileSelect($event)" (change)="onFileSelect($event)" class="form-control" />
      <label class="form-label" for="form9Example4">upload image</label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  </form>
</div>
</div>