<app-admin-navbar></app-admin-navbar>
<div class="container">
    <h3 class="display-4 my-5">Books List</h3>
    <div *ngIf = "deleteMsg">
      <div class="alert alert-danger text-center">Book is Deleted</div>
    </div>
    <button class="btn btn-success mb-3" [routerLink]="'add'"><i class="fas fa-plus"></i> Add Book</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">CategoryID</th>
          <th scope="col">AuthorID</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of arrBooksList">
            <td>{{book._id}}</td>
            <td><img [src]="book.imageUrl" alt=""></td>
            <td>{{book.title}}</td>
            <td>{{book.categoryID?._id}}</td>
            <td>{{book.authorID?._id}}</td>
          <td>
            <button class="btn btn-primary m-2" (click)="editBook(book._id)"><i class="fas fa-pen-to-square"></i> Edit</button>
            <button class="btn btn-danger" (click)="deleteBook(book._id)"><i class="fas fa-trash-can"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>