<app-sidebar></app-sidebar>
<p class="name">Nora Roberts</p>
<p class="bio">Nora Roberts is the #1 New York Times bestselling author of more than 200 novels, including Hideaway,
    Under Currents, Come Sundown,
    The Awakening, Legacy, and coming in November 2021 -- The Becoming -- the second book in The Dragon Heart Legacy.
    She is also the author
    of the futuristic suspense In Death series written under the pen name J.D. Robb. There are more than 500 million
    copies of her books in print.</p>

    <h3>Books</h3>

<img src="https://images.gr-assets.com/authors/1362814142p8/3389.jpg" class="author-img">

<div class="container d-flex flex-row">
    <div class="row" style="margin-left: 5vw">
        <div class="col-md-4 my-3 bc" style="max-width: 18rem;">
            <app-book-card></app-book-card>
        </div>
    </div>
    <div class="row" style="margin-left: 5vw">
        <div class="col-md-4 my-3 bc" style="max-width: 18rem;">
            <app-book-card></app-book-card>
        </div>
    </div>
</div>