/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter.ttf) format("truetype");
  }

body {
    background-color: black;
    font-family: 'Inter', 'arial', sans-serif;
}