/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Inter;
    src: url(assets/fonts/inter.ttf) format("truetype");
  }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #131314;
    font-family: 'Inter', 'arial', sans-serif;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
