<app-admin-navbar></app-admin-navbar>
<div class="container">
    <h3 class="display-4 my-5">Categories List</h3>
    <div *ngIf = "deleteMsg">
      <div class="alert alert-danger text-center">Category is Deleted</div>
    </div>
    <button class="btn btn-success mb-3" [routerLink]="'add'"><i class="fas fa-plus"></i> Add Category</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">name</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category._id}}</td>
            <td>{{category.name}}</td>
          <td>
            <button class="btn btn-primary m-2" (click)="editCategory(category._id)"><i class="fas fa-pen-to-square"></i> Edit</button>
            <button class="btn btn-danger" (click)="deleteCategory(category._id)"><i class="fas fa-trash-can"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>