img {
    height: 240px;
    width: 270px;
}
.img-thumbnail {
    background-color: rgb(33, 37, 41);
    border-color: #373c41;
}
.card {
    color: white;
    text-align: center;
}
h4 {
    color: #C1BECB;
}